.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.home-content {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  margin-bottom: 44px;
}

.home h1 {
  font-size: 10vw;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2vh;
  color: #ffffff;
}

.home p {
  font-size: 2.5vw;
  font-weight: 300;
  max-width: 80%;
  margin: 0 auto 4vh;
  color: #ffffff;
}

.connect-button {
  margin-top: 20px;
}

@media (min-width: 1400px) {
  .home h1 {
    font-size: 140px;
  }

  .home p {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 12vw;
  }

  .home p {
    font-size: 4vw;
    max-width: 90%;
  }

  .logo {
    height: 40px;
  }
}
